body{
    margin:auto;
    width:500px;
}

#newTodoDiv{
    border-style: solid;
    min-height: 80px;
    min-width: 150px;
    background-color: lightblue;
}
#tasksDiv{
    text-align: center;
    border-style: solid;
    min-height: 120px;
    min-width: 150px;
    background-color: lightblue;  
}

#new-todo{
    margin: 10px;
    padding: 10px;
    float:center;
    top:10%;
}

li{
    margin-left: 10px;
    padding-left: 10px;

}
button{
    color:white;
    background-color: red;
}

.completed{
    text-decoration:line-through;

}



ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:center;
}

h3{
     text-transform: uppercase;
}
